.upper-whatsup-strip {
  background-color: #5e7fbd;
  height: auto;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 5px 25px;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  /* font-family: "Hanken Grotesk", sans-serif; */
}

/* Wrap for the scrolling text */
.marquee-container {
  display: flex;
  justify-content: center;
  width: 100%;
  /* flex: 1;
    overflow: hidden;
    white-space: nowrap; */
}

.medico-link {
  color: #fff;
  /* border: 1px solid #fff; */
  background-color: red;
  height: 45px;
  width: 190px !important;
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: center;
  border-radius: 12px !important;
}

.medico-link-div {
  background-color: red;
  display: flex;
  justify-content: center
}


.upnav-no {
  font-size: 30px;
  color: yellow;
}

.uppernav-content {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}



@media (max-width:768px) {
  .upnav-no {
    font-size: 22px;
  }

  .uppernav-content {
    font-size: 18px;
  }
}