.upper-whatsup-strip {
    background-color: #5E7FBD;
    height: 55px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    padding: 5px 25px;
}

.whatsup-btn {
    border: none;
    background-color: #e7e3db;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uppernav-content {
    font-family: "Hanken Grotesk", sans-serif;
}


.whatsup-btn img {
    width: 35px;
    padding-top: 3px;
}