.slick-slider {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slick-slide img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}

.slick-dots {
    bottom: 10px;
}

.slick-dots li button:before {
    font-size: 12px;
    color: #ccc;
    opacity: 0.8;
}

.slick-dots li.slick-active button:before {
    color: #000;
    opacity: 1;
}

.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.slick-prev:before,
.slick-next:before {
    font-size: 25px;
    color: #333;
    opacity: 1;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.image-banner-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-family: "Hanken Grotesk", sans-serif;
}

.Banner-img-wrapper {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
}

.img-discription-link {
    flex: 1 1 50%;
    padding: 20px;
}

.Explore-btn {
    border: none;
    padding: 10px 26px;
    font-size: 20px;
    background: #8565aa;
    color: #fff;
    margin-top: 30px;
    border-radius: 8px;
}

.Explore-btn-a {
    color: #fff;
    text-decoration: none;
}

.company-name {
    color: #8565aa;
}

.banner-heading {
    font-size: 45px;
}

.banner-content {
    font-size: 24px;
    background-color: #e88c8c;
    padding: 10px;
    border-radius: 12px;
    margin-top: 20px;
}

@media (max-width:1024px) {
    .image-banner-container {
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 20px;
    }

    .banner-heading {
        font-size: 38px;
    }

    .banner-content {
        font-size: 20px;
    }
}

@media (max-width:768px) {
    .image-banner-container {
        flex-direction: column;
        padding: 15px;
    }

    .Banner-img-wrapper,
    .img-discription-link {
        width: 100%;
        /* text-align: center; */
    }
}

@media (max-width:550px) {
    .img-discription-link {
        padding: 10px;
    }

    .Banner-img-wrapper {
        width: 90%;
    }

    .banner-heading {
        font-size: 25px;
    }

    .banner-content {
        font-size: 18px;
    }

    .Explore-btn {
        padding: 8px 16px;
        font-size: 16px;
    }
}