/* carousel.css */
.slick-slider {
    position: relative;
    /* margin: 20px auto; */
    /* max-width: 500px; */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Slides */
.slick-slide img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}

/* Dots */
.slick-dots {
    bottom: 10px;
}

.slick-dots li button:before {
    font-size: 12px;
    color: #ccc;
    opacity: 0.8;
}

.slick-dots li.slick-active button:before {
    color: #000;
    opacity: 1;
}

/* Arrows */
.slick-prev,
.slick-next {
    width: 35px;
    height: 35px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.slick-prev:before,
.slick-next:before {
    font-size: 20px;
    color: #333;
    opacity: 1;
    padding-top: 2px;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.image-banner-container {
    display: flex;
    width: 100%;
    padding: 30px;
    /* margin: auto; */
    justify-content: center;
    font-family: "Hanken Grotesk", sans-serif;
}

.Banner-img-wrapper {
    width: 40%;
    /* height: 365px; */
}

.Banner-img-wrapper img {
    width: 100%;
}

.img-discription-link {
    width: 50%;
    padding: 20px;
}

.Explore-btn {
    border: none;
    padding: 10px 26px;
    font-size: 20px;
    background: #8565AA;
    color: #fff;
    margin-top: 30px;
    border-radius: 8px;
}

.Explore-btn-a {
    color: #fff;
    width: 100%;
}

.company-name {
    color: #8565AA;
}

.banner-heading {
    font-size: 45px;
}

.banner-content {
    font-size: 24px;
    background-color: #e88c8c;
    width: 80%;
    border-radius: 13px;
    padding: 10px;
    height: fit-content;
    margin-top: 30px;
}

.last-img-slider img {
    height: 100%;
    object-fit: contain;
}



@media (max-width:1024px) {
    .image-banner-container {
        width: 95%;
    }

    .banner-heading {
        font-size: 38px;
    }

    .banner-content {
        font-size: 20px;
    }
}

@media (max-width:768px) {
    .image-banner-container {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .Banner-img-wrapper {
        width: 80%;
        display: flex;
        justify-content: center;
        height: fit-content;
    }

    .img-discription-link {
        width: 80%;
        margin: auto;
    }
}

@media (max-width:550px) {
    .img-discription-link {
        width: 100%;
        padding: 10px;
    }

    .image-banner-container {
        padding: 10px;
    }

    .Banner-img-wrapper {
        width: 85%;
    }

    .banner-heading {
        font-size: 25px;
    }

    .Explore-btn {
        margin-top: 8px;
        padding: 7px 14px;
        font-size: 16px;
    }

    .banner-content {
        font-size: 18px;
        margin-top: 8px;
        width: 95%;

    }

    .slick-slider {
        height: 70vh;
    }
}