.welcome-tag {
    font-size: 36px;
    font-weight: 600;
    font-family: "Hanken Grotesk", sans-serif;
    text-align: center;
    color: #705BA4;
}

.welcome-tag2 {
    font-size: 26px;
    font-weight: 500;
    font-family: "Hanken Grotesk", sans-serif;
    text-align: center;
    margin-top: 25px;
}

.left-home-container {
    width: 50%;
}

.home-banner-img {
    width: 50%;
    margin-top: 20px;
}

.english-shloak {
    font-size: 16px;
    margin-top: 30px;
    line-height: 33px;
    font-family: "Hanken Grotesk", sans-serif;
}

.home-banner-img img {
    width: 100%;
}

.shloak-container {
    margin-top: 30px;
    text-align: center;
}

.upper-shloak {
    font-size: 32px;
    font-weight: 600;
    color: #DAA322;
}

.lower-shloak {
    color: #DAA322;
    text-align: center;
    margin-top: 12px;
    font-size: 32px;
}

.udaan-name {
    color: #705BA4;
    font-size: 50px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

.welcome-heading {
    justify-content: space-between;
    align-items: center
}

.start-child-cont {
    width: 30%;
    margin-top: 40px;
}

.start-parent-cont {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 70px;
}

.home-cards-section-heading {
    font-family: "Hanken Grotesk", sans-serif;
    margin-top: 25px;
}

.inner-container {
    background-image: url(../assets/home2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* 
.background-set-forward {
    background-image: url(../assets/Formforward4.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 50vh;
} */

.parallax {

    background-image: url("../assets/Flute1.png");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    background-size: cover;
}

.our-team-container {
    display: flex;
}

@media (max-width:1200px) {
    .step-card-cont {
        width: 100%;
    }

    .start-child-cont {
        width: 70%;
    }
}

@media (max-width:768px) {
    .welcome-heading {
        display: block;
    }

    .parallax {
        background-attachment: scroll;
    }

    .left-home-container {
        width: 100%;
    }

    .home-banner-img {
        width: 100%;
        ;
    }
}

@media (max-width:425px) {
    .start-child-cont {
        width: 80%;
    }

    .welcome-tag {
        font-size: 24px;
    }

    .welcome-tag2 {
        font-size: 18px;
        margin-top: 15px;
    }

    .udaan-name {
        font-size: 32px;
    }

    .home-cards-section-heading {
        margin-top: 15px;
    }

    .start-parent-cont {
        gap: 10px;
    }

}