.home-top-shadow-container {
    position: relative;
}

.main-wep-logo-container {
    width: fit-content;
}

.web-main-logo {
    width: 150px;
    z-index: 2;
}

.nav-main-top-container {
    width: 80%;
    margin: auto;
}

.shadow-grad2 {
    right: 0;
}

@media (max-width:540px) {
    .little-star {
        display: none;
    }
}