.hero-banner {
    background-image: url(../assets/service1.jpg);
    background-position: top;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-family: "Hanken Grotesk", sans-serif;
}

.skill-migration-container-wrapper {
    font-family: "Hanken Grotesk", sans-serif;
}