/* From Uiverse.io by vinodjangid07 */
.button-arrow {
    position: relative;
    padding: 3px;
    border-radius: 999px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: linear-gradient(120deg,
            #7b40a7,
            #c77dff,
            #00f0ff,
            #ff4ecd,
            #7b40a7);
    background-size: 800% 800%;
    animation: neonBorderFlow 12s linear infinite;
    box-shadow:
        0 0 20px rgba(123, 64, 167, 0.8),
        0 0 40px rgba(199, 125, 255, 0.6);
}

@keyframes neonBorderFlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.button-arrow-i {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 36px;
    border-radius: 999px;
    background: #0f0919;
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
    position: relative;
    z-index: 1;
    transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 15px rgba(123, 64, 167, 0.4);
}

.svg {
    padding-top: 5px;
    height: 100%;
    width: fit-content;
}

.svg svg {
    width: 50px;
    height: 30px;
}

/* .button-arrow:hover {
    border: 8px solid #b1d8ff;
    background-color: #1b7aff;
} */

.button-arrow:active {
    border: 5px solid #c0dfff;
}

.button-arrow:hover .svg svg {
    animation: jello-vertical 0.9s both;
    transform-origin: left;
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}