.profile-main-container {
  min-height: 100vh;
  /* width: 100vw; */
  background: linear-gradient(135deg, #f5e9ff 50%, #d6b4fc 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

.profile-card {
  background: #ffffff;
  padding: 40px;
  max-width: 480px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.profile-card h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
  font-weight: 500;
}

.profile-subtext {
  color: #888;
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 8px;
}

.input-group {
  text-align: left;
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  background: #f9f9f9;
  transition: 0.2s ease;
}

.input-group input:focus {
  border-color: #9333ea;
  background: #fff;
  outline: none;
}

.update-btn {
  width: 100%;
  padding: 12px;
  background: #9333ea;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  /* margin-top: 10px; */
  transition: background 0.3s ease;
  height: 50px;
}

.update-btn:hover {
  background: #8a3fcc;
}

.profile-button-group {
  display: flex;
  gap: 20px;
}

.profile-logout-btn {
  width: 100%;
  /* margin-top: 20px; */
  padding: 12px;
  background: #fff;
  color: #7e22ce;
  font-size: 18px;
  border: 3px solid #7e22ce;
  font-weight: 600;
  height: 50px;
  /* border: none; */
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 14px;
}

.profile-logout-btn:hover {
  background: #7e22ce;
  color: #fff;
}

.profile-message {
  margin-top: 15px;
  font-size: 14px;
  color: #10b981;
  font-weight: 500;
}

.btn-btn-logout-group {
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;
  margin-top: 20px;
}

@media (max-width:768px) {
  .update-btn {
    font-size: 14px;
  }
}