.error-img-container {
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

.error-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.error-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}