.Faq-container-wrapper {
    width: 100%;
    background-color: #392546;
    font-family: "Hanken Grotesk", sans-serif;
    gap: 40px;
    display: flex;
    padding: 110px 100px;
}

.left-side-container {
    width: 50%;

}

.right-side-container {
    width: 50%;

}

.faq-little-heading {
    color: #705BA4;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}

.faq-big-heading {
    font-size: 3rem;
    margin-bottom: 40px;
    position: relative;
}

.faq-big-heading::after {
    content: '';
    width: 70px;
    height: 3px;
    display: block;
    /* position: absolute; */
    margin-top: 25px;
    background-color: #705BA4;
}

.left-side-container h2 {
    font-weight: 500;
    line-height: 40px;
}

.Faq-ask-question {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #E4E4E4;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.Faq-ask-question:hover {
    background-color: #705BA4;
}

.Faq-ask-question:hover a {
    color: #fff;
}

.Faq-ask-question a {
    color: #222;
    transition: 0.3s;
}

.faq-wrapper {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.faq-item {
    background-color: #0F0919;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    border: 2px solid #6b568d;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.35rem;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
    align-items: center;
    color: #fff;
}


.faq-answer {
    padding: 0 20px 20px 20px;
    font-size: 1.1rem;
    line-height: 30px;
    color: #fff;
}

.faq-question span {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 700;
}

@media (max-width:800px) {
    .Faq-container-wrapper {
        display: block;
        padding: 35px;
    }

    .left-side-container {
        width: 100%;
    }

    .right-side-container {
        width: 100%;
    }

    .faq-wrapper {
        /* margin: 0 20px; */
        padding: 0;
    }
}

@media (max-width: 600px) {
    .faq-question p {
        font-size: 0.95rem;
    }

    .faq-answer {
        font-size: 0.9rem;
    }

    .Faq-container-wrapper {
        padding: 15px;
    }

    .faq-question span {
        font-size: 1.2rem;
    }
}